* {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

/* header h1 {
    text-align: center;
} */

/* OR */

header {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

nav {
    background-color: dodgerblue;
    padding: 10px 0px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: start;
}

nav ul li a {
    color: lightgray;
    text-decoration: none;
    font-size: large;
    padding: 2px 15px;
}

#end {
    flex-grow: 1;
    text-align: end;
}

main {
    display: flex;
    padding: 30px 15px;
}

#blog {
    /* flex-grow: 3;
    flex-shrink: 1; */
    width: 70%;
}

#sidebar {
    /* flex-grow: 1;
    flex-shrink: 3; */
    width: 30%;
    margin-left: 15px;
}

.post {
    border: 1px solid grey;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
}